<app-nav></app-nav>

<div class="bike-container">
  <div *ngFor="let bike of bikes" class="info-card">
    <img src="{{bike.imgURL}}" alt="{{bike.title}}">
    <div class="info-card-main">
      <h2>{{bike.title}}</h2>
      <p>{{bike.description}}</p>
    </div>
    <div class="info-card-sub">
      <h2>{{bike.price | currency}}</h2>
      <p>{{bike.location}}</p>
      <button (click)="onDelete(bike._id)" *ngIf="bike.owner === userID" class="btn-risk">Delete</button>
      <button (click)="onContact(bike)" *ngIf="bike.owner !== userID" class="btn-caution">Contact</button>
    </div>
  </div>
</div>